<html>
<head>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<h1> {{ header }} </h1>
<p> {{ text }} </p>

<div>
<p> {{ status }}  </p>
</div>
<div>
<iframe src="http://192.168.4.1:8080/stream" width="30%" height="50%"></iframe>
</div>

<div style=" height:400px; width:300px; float:right;">


<h2>Surveillance Robot</h2><br><br>
<a href="#" id="up" style="font-size:30px;text-decoration:none;">  &#x1F881;&#x1F881;<br>Forward</a><br><br>
<a href="#" id="left" style="font-size:30px;text-decoration:none;"> &#x1F880;&#x1F880;Left</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" id="right" style="font-size:30px; text-decoration:none;"> Right &#x1F882;&#x1F882;</a><br><br>
<a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br> &#x1F883;&#x1F883;</a>
</div>

<script>
$( document ).ready(function(){
    $("#down").on("mouseenter", function() {
		console.log("back gedrueckt!")
     $.get('/backward');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#up").on("mouseenter", function() {
     $.get('/forward');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#left").on("mouseenter", function() {
     $.get('/left');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#right").on("mouseenter", function() {
     $.get('/right');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
});
</script>

</body>
</html>