<!doctype html>
<html lang="de">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body>

<div class="container">
  <h1> Marios Roboter </h1>
<p> {{ status }} </p>

<div class="media container ">
  <iframe src="http://192.168.4.1:8080/stream" width="640px" height="480px"></iframe>
</div>



<div class="row">
  <div class="col-sm-4"><button type="button" class="btn btn-primary">Vorwärts</button></div>
  <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
  <div class="col-sm-4"><a class="btn btn-primary" href="#" id="up" role="button">Vorwärts</a></div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"><a class="btn btn-primary" href="#" id="left" role="button">Links</a></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><a class="btn btn-primary" href="#" id="right" role="button"> Rechts </a></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><a class="btn btn-primary"  role="button" href="#" id="down" > Rückwärts</a></div>
  <div class="col-sm-4"></div>
</div>

</div>





<script>
$( document ).ready(function(){
    $("#down").on("click", function() {
		console.log("back gedrueckt!")
     $.get('/backward');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#up").on("click", function() {
     $.get('/forward');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#left").on("click", function() {
     $.get('/left');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#right").on("click", function() {
     $.get('/right');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
});
</script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
$( document ).ready(function(){
    $("#down").on("mouseenter", function() {
		console.log("back gedrueckt!")
     $.get('/backward');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#up").on("mouseenter", function() {
     $.get('/forward');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#left").on("mouseenter", function() {
     $.get('/left');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
    $("#right").on("mouseenter", function() {
     $.get('/right');
     }).on('mouseleave', function() {
     $.get('/stop');
    });
});
</script>
</body>
</html>